/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: none;
  color: #ABE8FC;
  font-family: 'Oleo Script';
}

h2 {
  margin-top: 2em; 
  font-family: Lato;
  color: #CBB7FC;
}

.question {
  display: flex;
  margin-top: 2em;
  font-family: Lato;
}
  
.answer-choice img {
  height: 10em;
}
